.row>* {
    padding-top: 0;
    padding-bottom: 0;
}

.restaurant-box {
    width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.titleimg-box {
    height: 300px;
}

.titleimg-box>img {
    width: 100%;
    height: 100%;
}

.menu-box .btn {
    text-align: left;
}

.menuitem-box {
    text-align: left;
}

.image-box { 
    width: 130px;
    height: 130px;
    background-color: lightgrey;
    text-align: center;
}

.image-box img {
    width: 100%;
    height: 100%;
}

.image-box i {
    font-size: 1.5rem;
}

.card-body {
    padding-left: 30px;
}

.menuprice-box {
    text-align: right;
}

.reviewitem-box {
    text-align: left;
}

.reviewdate {
    text-align: right;
}

.info-box {
    text-align: left;
}