.title-col {
    padding: 0;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}

.mainleft-col {
    padding-right: calc(var(--bs-gutter-x) * .25);
}

.mainright-col {
    padding-left: calc(var(--bs-gutter-x) * .25);
}

.image-box { 
    width: 130px;
    height: 130px;
    background-color: lightgrey;
    text-align: center;
}

.image-box img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

textarea {
    resize: none;
}

.btn-box {
    padding-bottom: 0;
    text-align: right;
}

.reviewitem-box {
    text-align: left;
}

.reviewdate {
    text-align: right;
}

.reviewbtn-box {
    text-align: right;
}

.modal-footer {
    border: none;
}

.list-box {
    text-align: center;
}

.modal-body .card-body {
    padding-left: 60px;
}

.modal-dialog {
    max-width: 800px;
}

.modal-footer {
    border: none;
}