<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.mapper.RestMapper">
	<insert id="insertR">
		INSERT INTO
		            REST_INFO(r_id, r_licnum, u_id, r_lname, r_addr, r_dtad, r_bname, r_tel, f_code, r_intro, r_minprice, r_img)
		VALUES
		            (#{r_id}, #{r_licnum}, #{u_id}, #{r_lname}, #{r_addr}, #{r_dtad}, #{r_bname}, #{r_tel}, #{f_code}, #{r_intro}, #{r_minprice}, #{r_img})
	</insert>
	
	<select id="insertRid" resultType="int">
		select ri_rid_seq.nextval from dual
	</select>
	
	<insert id="insertOpen">
		INSERT INTO
		            REST_OPEN (r_id, r_opent, r_closet) 
		VALUES 
		            (#{r_id}, to_date(#{r_opentS}, 'HH24:MI'), to_date(#{r_closetS}, 'HH24:MI'))
	</insert>
	
	<insert id="insertClosed">
		INSERT INTO
		            REST_CLOSED (r_id, w_code) 
		VALUES 
		            (#{r_id}, #{w_code})
	</insert>
	
	<insert id="insertCat">
		INSERT INTO
					REST_CAT (r_id, c_code)
		VALUES
					(#{r_id}, #{c_code})
	</insert>
	
	<insert id="insertMethod">
		INSERT INTO
					PAY_METHOD (p_code, r_id)
		VALUES
					(#{p_code}, #{r_id})
	</insert>
	
	<select id="getList" resultType="com.project.domain.RestDTO">
		select 
		        A.r_id, r_lname, r_intro, r_minprice,r_img, TRUNC(AVG(r_score),1) AS AVG, COUNT(D.o_num) AS SUM1, COUNT(E.o_num) AS SUM2, r_addr
		from 
		        rest_info A left join rest_cat B on A.r_id = B.r_id 
		                    left join cat_code C on B.c_code = C.c_code
		                    left join order_info D on B.r_id = D.r_id
		                    left join review_info E on D.o_num = E.o_num
		where 
		        B.c_code = #{c_code}   
		        
		group by A.r_id, r_lname, r_intro, r_minprice,r_img,r_addr
		order by SUM1
	</select>
	
	<select id="getCodeList" resultType="com.project.domain.CatcodeDTO">
		select
				 c_code, c_cname 
		from
				 cat_code 
		order by
				 c_code
	</select>
	
	<select id="read" resultType="com.project.domain.RestDTO">
		select
				        A.r_id, A.u_id, r_licnum, r_lname, r_bname, r_tel, r_intro, r_minprice, r_img, r_addr, r_dtad, TRUNC(AVG(r_score),1) AS AVG
		from
		                rest_info A left join order_info B on A.r_id = B.r_id
		                            left join review_info C on B.o_num = C.o_num
		where
		                A.r_id = #{r_id}
		group by        A.r_id, A.u_id, r_licnum, r_lname, r_bname, r_tel, r_intro, r_minprice, r_img, r_addr, r_dtad
	</select>
	
	<select id="readOpen" resultType="com.project.domain.RestOpenDTO">
		select
		        r_id, r_opent, r_closet
		from
		        rest_open
		where
		        r_id = #{r_id}
	</select>
	
	<select id="getOpenList" resultType="com.project.domain.RestOpenDTO">
		select
		        r_id, r_opent, r_closet
		from
		        rest_open
		where
		        r_id = #{r_id}
	</select>
	
	<select id="readClosed" resultType="com.project.domain.RestClosedDTO">
		select
		        r_id, A.w_code, w_cname
		from
		        rest_closed A join week_code B on A.w_code = B.w_code
		where
		        r_id = #{r_id}
	</select>
	
	<select id="getCatList" resultType="com.project.domain.RestCatDTO">
		select
				r_id, c_code
		from
				rest_cat
		where
				r_id = #{r_id}
	</select>
	
	<select id="getMethodList" resultType="com.project.domain.MethodDTO">
		select
		        A.p_code, r_id, p_cname
		from
		        pay_method A join pay_code B on A.p_code = B.p_code
		where
		        r_id = #{r_id}
		group by A.p_code, r_id, p_cname
		order by A.p_code
	</select>
	
	<update id="update">
		UPDATE 
		        rest_info
		SET
		        r_lname = #{r_lname}, r_addr = #{r_addr}, r_dtad = #{r_dtad}, r_bname = #{r_bname}, r_tel = #{r_tel}, r_intro = #{r_intro}, r_minprice = #{r_minprice}, r_img = #{r_img}
		WHERE
		        r_id = #{r_id}
	</update>
	
	<update id="updateOpen">
		UPDATE
		        rest_open
		SET
		        r_opent = to_date(#{r_opentS}, 'HH24:MI'), r_closet = to_date(#{r_closetS}, 'HH24:MI')
		WHERE
		        r_id = #{r_id}
	</update>
	
	<update id="updateClosed">
		UPDATE
		        rest_closed
		SET
		        w_code = #{w_code}
		WHERE
		        r_id = #{r_id}
	</update>
	
	<delete id="delete">
		DELETE
		        rest_info
		WHERE 
		        r_id = #{r_id}
	</delete>
	
	<delete id="deleteOpen">
		DELETE
		        rest_open
		WHERE
		        r_id = #{r_id}
	</delete>
	
	<delete id="deleteClosed">
		DELETE
		        rest_closed
		WHERE
		        r_id = #{r_id}
	</delete>
	
	<delete id="deleteCat">
		DELETE
				rest_cat
		WHERE
				r_id = #{r_id}
	</delete>
	
	<delete id="deleteMethod">
		DELETE
				pay_method
		WHERE
				r_id = #{r_id}
	</delete>
</mapper>